.pocket-hexes-game-container {
  max-width: 450px;
}

.grid {
  padding: 2% 0;
  margin: 10px 0;
}

.hexagon {
  margin: 0 2px;
  width: 8vw;
  height: 9.3vw;
  max-width: 39px;
  max-height: 48px;
  position: relative;
}

.hexagonSvg {
  width: 8vw;
  max-height: 100%;
  max-width: 100%;
}

.hexagon span {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: -8px 0;
}

.rolls {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  margin-top: 5vh;
}

.rollBox {
 width: 10vh;
 box-sizing: border-box;
 color: white;
 font-size: 24px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.rollButton {
 font-size: 24px;
 width: 20vh;
}

#rollBox-0 {
  background-color: rgba(0, 0, 255, 0.3)
}

#rollBox-1 {
  background-color: rgba(0, 0, 255, 0.4)
}

#rollBox-2 {
  background-color: rgba(0, 0, 255, 0.5)
}

#rollBox-3 {
  background-color: rgba(0, 0, 255, 0.6)
}

#rollBox-4 {
  background-color: rgba(0, 0, 255, 0.7)
}

#rollBox-5 {
  background-color: rgba(0, 0, 255, 1)
}

.used {
  background-color: grey !important;
}

.rollBox[highlighted] {
  border: 5px solid black;
}

.hexagon[hexstate="placable"]{
  border: 1px solid orange;
}

.canBeScored path {
  fill: yellow;
}


.hasBeenScored path {
  fill: green;
}
