/* App container */
.millionaire-app-container {
  margin: 0 auto;
  background: linear-gradient( #0d003d, rgb(40, 0, 77));
  box-sizing: border-box;
  height: 500px;
}

@media (min-width: 426px) {
  .millionaire-app-container {
    max-width: 900px;
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .millionaire-app-container {
    max-width: 450px;
    width: 90vw;
  }
}

/* Intro Page*/
.millionaire-intro-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.millionaire-intro-title,
.millionaire-intro-text {
  color: white;
  font-weight: bold;
  text-align: center;
}

.millionaire-intro-title {
  font-size: 40px;
  margin: 10px 20%;
}

.millionaire-intro-text {
  font-size: 20px;
  margin: 10px 20%;
}

.millionaire-intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.millionaire-start-button {
  padding: 10px 20px;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  margin: 15px;
  color: black;
}

/* Game Objects */
.millionaire-game-container {
  display: flex;
  height: 100%;
}

.millionaire-main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.millionaire-question-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.millionaire-question-container, .millionaire-answer {
  background: rgb(0, 0, 150);
  color: white;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
}

.millionaire-question-container {
  height: 70px;
  display: flex;
  width: 100%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.millionaire-answers-container {
  display: flex;
  align-content: center;
  width: 100%;
  margin: 10px 0;
  flex-wrap: wrap;
  position: relative;
}

.millionaire-answer {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: left;
  border-radius: 26px;
}

.millionaire-answer-letter {
  width: 15%;
}

.millionaire-answer[hideanswer] {
  visibility: hidden;
}

.millionaire-answer[highlighted] {
  background: rgb(255, 187, 0);
  color: black;
}

.millionaire-answers-container[questionstate="correct"] .millionaire-answer[highlighted] {
  background: rgb(0, 194, 129);
}

.millionaire-answers-container[questionstate="incorrect"] .millionaire-answer[highlighted] {
  background: red;
}

@media (min-width: 931px) {
  .millionaire-question-panel {
    font-size: 16px;
  }

  .millionaire-answers-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .millionaire-answer {
    width: 42%;
    height: 26px;
    margin: 10px;
  }
}

@media (max-width: 930px) {
  .millionaire-question-panel {
    font-size: 13px;
  }

  .millionaire-answers-container {
    flex-direction: column;
  }

  .millionaire-answer {
    width: 100%;
    margin: 5px;
  }
}

.millionaire-message-panel {
  display: flex;
  flex: 1;
  height: 100px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.millionaire-message-box {
  color: white;
  font-weight: bold;
  min-height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 931px) {
  .millionaire-message-box {
    font-size: 20px;
  }
}

@media (max-width: 930px) {
  .millionaire-message-box {
    font-size: 12px;
  }
}

.millionaire-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  width: 100%;
}

.millionaire-button-red,
.millionaire-button-green {
  border: 2px solid;
  padding: 5px;
  width: 40%;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

.millionaire-button-green {
  color: black;
  background-color: rgb(0, 194, 129);
}

.millionaire-buttons button[hidebutton] {
  display: none;
}

.millionaire-button-red {
  color: black;
  background-color: rgb(190, 0, 95);
}

@media (min-width: 931px) {
  .millionaire-button-red,
  .millionaire-button-green {
    font-size: 14px;
    width: 40%;
  }
}

@media (max-width: 930px) {
  .millionaire-button-red,
  .millionaire-button-green {
    font-size: 10px;
  }
}

.millionaire-side-panel {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid white;
  padding: 10px;
  background: linear-gradient(135deg, #040013, rgb(0, 43, 134));
}

.millionaire-score-tracker {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.millionaire-points {
  text-align: left;
  color: orange;
  font-weight: bold;
  display: flex;
}

.millionaire-points-label {
  text-align: right;
}

.millionaire-points[checkpoint] {
  color: rgb(255, 232, 181)
}

.millionaire-points[currentscore] {
  background-color: orange;
  color: black;
  border-radius: 10px;
}

@media (min-width: 931px) {
  .millionaire-points {
    padding: 5px 0 5px 20px;
    font-size: 12px;
  }

  .millionaire-points-label {
    width: 20px;
    text-align: right;
    margin-right: 20px;
  }
}

@media (max-width: 930px) {
  .millionaire-points {
    padding: 5px 0 5px 5px;
    font-size: 10px;
  }

  .millionaire-points-label {
    width: 15px;
    text-align: right;
    margin-right: 10px;
  }
}

.millionaire-lifelines {
  display: flex;
  justify-content: space-between;
}

.millionaire-lifeline {
  color: white;
  text-align: center;
  border: 2px solid white;
  padding: 4px;
  font-size: 9px;
  font-weight: bold;
  border-radius: 50%;
}

.millionaire-lifeline[hidelifeline] {
  visibility: hidden;
}

@media (min-width: 931px) {
  .millionaire-lifelines {
    flex-direction: row;
    margin: 5px 0;
  }

  .millionaire-lifeline {
    padding: 4px;
    font-size: 9px;
    width: 32%;
    height: 40px;
    border-radius: 50%;
  }
}

@media (max-width: 930px) {
  .millionaire-lifelines {
    flex-direction: column;
  }

  .millionaire-lifeline {
    font-size: 9px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}

.millionaire-walk-away {
  width: 100%;
}

.millionaire-walk-away .millionaire-button-red {
  width: 100%;
}

.millionaire-walk-away button[hidebutton] {
  visibility: hidden;
}
