/* App container */
.millionaire-app-container {
  margin: 0 auto;
  background: linear-gradient( #0d003d, rgb(51, 0, 77));
  box-sizing: border-box;
  height: 500px;
}

@media (min-width: 426px) {
  .millionaire-app-container {
    max-width: 900px;
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .millionaire-app-container {
    max-width: 450px;
    width: 90vw;
  }
}

/* Intro Page*/
.millionaire-intro-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.millionaire-intro-title,
.millionaire-intro-text {
  color: white;
  font-weight: bold;
  text-align: center;
}

.millionaire-intro-title {
  font-size: 40px;
  margin: 10px 20%;
}

.millionaire-intro-text {
  font-size: 20px;
  margin: 10px 20%;
}

.millionaire-intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.millionaire-start-button {
  padding: 10px 20px;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  margin: 15px;
  color: black;
}

/* Game Objects */
.millionaire-game-container {
  display: flex;
  height: 100%;
}

.millionaire-main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.millionaire-question-container, .millionaire-answer {
  background: rgb(0, 0, 150);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.millionaire-question-container {
  height: 20%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.millionaire-answers-container {
  flex: 1;
  display: flex;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.millionaire-answer {
  width: 40%;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.millionaire-answer[hideanswer] {
  visibility: hidden;
}

.millionaire-answer[highlighted] {
  background: rgb(255, 187, 0);
  color: black;
}

.millionaire-answers-container[questionstate="correct"] .millionaire-answer[highlighted] {
  background: green;
}

.millionaire-answers-container[questionstate="incorrect"] .millionaire-answer[highlighted] {
  background: red;
}

.millionaire-message-box {
  color: white;
  font-weight: bold;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .millionaire-message-box {
    font-size: 12px;
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .millionaire-message-box {
    font-size: 16px;
  }
}

@media (min-width: 801px) {
  .millionaire-message-box {
    font-size: 20px;
  }
}

.millionaire-side-panel {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid white;
  padding: 10px;
  background: linear-gradient(135deg, #040013, rgb(0, 43, 134));
}

.millionaire-score-tracker {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.millionaire-points {
  text-align: left;
  padding-left: 20px;
  color: orange;
  font-weight: bold;
  font-size: 12px;
}

.millionaire-points[checkpoint] {
  color: rgb(255, 232, 181)
}

.millionaire-points[currentscore] {
  background-color: orange;
  color: black;
  border-radius: 6px;
}

.millionaire-lifelines {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.millionaire-lifeline {
  color: white;
  text-align: center;
  border: 2px solid white;
  padding: 2px;
  font-size: 10px;
  width: 32%;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
}

.millionaire-lifeline[hidelifeline] {
  visibility: hidden;
}

.millionaire-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.millionaire-buttons button {
  border: 2px solid;
  padding: 5px;
  font-size: 10px;
  width: 40%;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

.millionaire-button-green {
  color: black;
  background-color: rgb(0, 194, 129);
}

.millionaire-buttons button[hidebutton] {
  visibility: hidden;
}

.millionaire-button-red {
  color: black;
  background-color: rgb(255, 23, 100);
}