.page-content {
  padding: 20px;
  box-sizing: content-box;
  max-width: 1100px;
  margin: 0 auto;
}

.page-title, .page-section h1 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.page-section {
  max-width: 100%;
}

.page-section img {
  max-height: 20vh;
}

.page-section h1 {
  margin: 15px 0;
}

.page-section h2 {
  margin: 20px 0 5px 0;
}

.page-section ul {
  margin-left: 30px;
}

.page-section ul li {
  margin: 10px 0;
}

.page-section p {
  margin-bottom: 10px;
}

@media (min-width: 426px) {
  .page-section {
    flex-direction: row-reverse;
  }

  .page-section p {
    flex: 1 1 auto;
  }

  img.page-inlay-image {
    float: left;
    margin: 0px 10px 0px 0;
  }
}

@media (max-width: 425px) {
  .page-section {
    flex-direction: column;
  }

  img.page-inlay-image {
    margin: 0 auto 10px auto;
    display: block;
  }
}

.link-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-box {
  height: 240px;
  width: 300px;
  margin: 20px;
  position: relative;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.link-box-overlay {
  background-color: rgba(0,0,0, 0.55);
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-box-overlay:hover {
  background-color: rgba(0,0,0, 0.1);
}