.header-content {
  background-color: #adadad;
  color: white;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.header-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.header-subtitle {
  font-size: 20px;
}