.menu {
  background-color: #737373;
  border-top: 1px solid white;
  box-sizing: border-box;
}

.menu-list {
  list-style-type: none;
}

.menu-list-item {
  color: white;
  padding: 10px;
}

.menu-list-item a {
  color: white;
  text-decoration: none;
}

.menu-list-item a:hover, .menu-list-item a:focus {
  text-decoration: underline;
}

@media (min-width: 426px) {
  .menu-button {
    display: none;
  }

  .menu-list {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }

  .menu-list-item {
    border-right: 1px solid white;
  }
}

@media (max-width: 425px) {
  .menu-button {
    color: white;
    margin: 0 auto;
    padding: 5px 0;
    display: block;
  }

  .menu-list:not([open]) {
    display: none;
  }

  .menu-list-item {
    border-top: 1px solid white;
    text-align: center;
  }
}