.only-connect-game-container {
  margin: 0 auto;
}

@media (min-width: 426px) {
  .only-connect-game-container {
    max-width: 900px;
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .only-connect-game-container {
    max-width: 450px;
    width: 90vw;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
  background: linear-gradient(#03a8f5, #000000);
}

.grid-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: 20%;
}

.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
  box-sizing: border-box;
  background: radial-gradient(#d0ebfd, rgb(147, 210, 255));
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .grid-box {
    font-size: 12px;
    font-weight: bold;
  }
}

@media (min-width: 601px) {
  .grid-box {
    font-size: 20px;
  }
}

.grid-row[solved]:nth-child(1) .grid-box, 
.grid[rowscorrect="0"] .grid-box[highlighted] {
  background: radial-gradient(rgb(88, 121, 253), rgb(10, 59, 255));
}

.grid-row[solved]:nth-child(2) .grid-box, 
.grid[rowscorrect="1"] .grid-box[highlighted]  {
  background: radial-gradient(rgb(1, 214, 54), rgb(0, 107, 36));
}

.grid-row[solved]:nth-child(3) .grid-box, 
.grid[rowscorrect="2"] .grid-box[highlighted]  {
  background: radial-gradient(rgb(252, 116, 252), rgb(192, 0, 176));
}

.grid-row[solved]:nth-child(4) .grid-box, 
.grid[rowscorrect="3"] .grid-box[highlighted]  {
  background: radial-gradient(rgb(0, 189, 179), rgb(0, 83, 94));
}

.grid-row[solved] .grid-box {
  animation-name: correct;
  animation-duration: 1s;
  color: white;
}

@keyframes correct {
  0% {opacity: 0}
  100% {opacity: 1}
}

.grid-box[highlighted] {
  color: white;
  animation-name: highlight;
  animation-duration: 0.3s;
}

@keyframes highlight {
  0% {background: radial-gradient(#d0ebfd, rgb(147, 210, 255)); color: black}
}
